body{
    background-color: aquamarine;
}
.home-containter{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.container {
  display: flex;
  width: 50%;
}

.column {
  flex: 1;
  margin: 0 10px; /* Adjust margin as needed for spacing between columns */
}

.two-column-list {
  list-style: none;
  padding: 0;
}

.two-column-list li {
  margin-bottom: 5px;
  padding: 10px;
}