{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="row mt-1">
  <div class="col-md-2">
        <h3>Browse Companies</h3>
        <hr>
        <ul class="nav flex-column nav-tabs">
          {% for company in companies %}
          <li class="nav-item">
            <a class="nav-link" href= "{% url 'home' %}?q={{company.name}}">{{company.name}}</a>
          </li>
          {% endfor %}
        </ul>
  </div>

  <div class="col-md-8">
    <h3 class="text-left text-info">{{company.name}}</h3>
  <table class="table table-hover table-sm">
    <thead>
      <tr><th>Date</th><th>Close price</th></tr>
    </thead>
    <tbody>  
      {% for item in prices %}
        <tr class="table-active">
          <td>
          {{item.date}}
          </td> 
          <td>
          {{ item.close }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><a href= "{% url 'companyRoom' %}?q={{company.name}}" class="btn btn-secondary btn-block w-100">Get more details</a>
  </div>
  <div class="col-md-2">
    <blockquote class="blockquote mt-5">
      <p class="mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      </p>
      <footer class="blockquote-footer">
        Someone famous in <cite>Source Title</cite>
      </footer>
    </blockquote>
  </div>

</div>


{% endblock content %}

